### IntelliJ IDEA ###
.idea/
*.iml
out/
.kotlin/

### Visual Studio ###
.vs/
bin/
obj/
*.user
*.suo

### VS Code ###
.vscode/

### Build folders ###
bin/
obj/
out/

### NuGet ###
packages/
*.nupkg
*.p7s

### Java ###
*.class

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Logs ###
*.log

### OS Files ###
.DS_Store
Thumbs.db

### ASP.NET ###
appsettings.Development.json
appsettings.Local.json

### Rider ###
_ReSharper*/
*.DotSettings.user

### Angular / Node.js ###
node_modules/
dist/
.angular/
.angular/cache/
coverage/

### npm ###
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

### Environment Files ###
.env
.env.local

### Angular Cache ###
.cache/