### IntelliJ IDEA ###
.idea/
*.iml
out/

# Build folders
bin/
obj/

# NuGet packages
packages/

# Test files
*.nupkg
*.p7s

# User files
*.user
*.suo

out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Visual Studio
.vs/
bin/
obj/

### Java ###
*.class

### Logs ###
*.log

### OS Files ###
.DS_Store
Thumbs.db
