### IntelliJ IDEA ###
.idea/
*.iml
out/
.kotlin/

### Visual Studio ###
.vs/
bin/
obj/
*.user
*.suo

### VS Code ###
.vscode/

### Build folders ###
bin/
obj/
out/

### NuGet ###
packages/
*.nupkg
*.p7s

### Java ###
*.class

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Logs ###
*.log

### OS Files ###
.DS_Store
Thumbs.db

### ASP.NET ###
appsettings.Development.json

### Rider ###
.idea/
_ReSharper*/
*.DotSettings.user